* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    /* width: 70%; */
    display: flex;
    gap: 1rem;
    position: absolute;
    z-index: 10;
    /* border: 1px solid white; */
}
.box1{
    height: 300px;
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}
.box1 img{
    height: 100%;
    object-fit: cover;
}
.container{
    position: relative;
    
}
.backImgContainer{
    /* display: flex; */
    position: relative;
}
.img1{
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
.img img{
    height: 100%;
    object-fit: cover;
}

.wrapper{
    position: absolute;
    border: 1px solid white;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25rem;
}
.back2{
    transform: translateX(100%);
}
.back3{
    transform: translateX(200%);
}
.back4{
    transform: translateX(300%);
}
.backImgContainer{
    transition: 1s ease;
}
body{
    overflow: hidden;
}